{% extends "index.html" %}

{% block content %}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">questions</th>
                <th scope="col">answers on questions</th>
            </tr>
        </thead>

        <tbody>
            {% for user in questionnaire %}
            <tr>
                <td> {{user.questions }} </td>
                <td> {{user.answers_on_questions}} </td>
                <td>
                    <a href="/edit_questionnaire/{{user.answers_on_questions}}" type="button" class="btn btn-warning" name="btn_edit_holiday" data-holiday_name="{{user.answers_on_questions}}">Edit</a>
                    <a href="/delete_questionnaire/{{user.answers_on_questions}}" type="button" class="btn btn-danger" name="btn_delete_holiday" data-holiday_name="{{user.answers_on_questions}}">Delete</a>
                </td>

            </tr>
            {% endfor %}

            <tr>
                <td> <a href="/new_questionnaire" type="button" class="btn btn-success" name="btn_new_holiday">New questions</a> </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}